<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test" verbose="3">

<test name="Google Test">
		
		<classes>
			<class name="MyTest.GoogleTest" />
		</classes>
		
	</test>
	
<test name="Opencart Test">
		
		<classes>
			<class name="MyTest.OpenCart" />
		</classes>
	</test>
	
<test name="Flipkart Test">
		
		<classes>
			<class name="MyTest.Flipkart" />
		</classes>
	</test>	


</suite>






